API__DB__URL=postgresql+asyncpg://postgres_user:postgres_password@localhost:5430/postgres_db
API__DB__ECHO=True

API__JWT__PRIVATE=certs.template/jwt-private.pem
API__JWT__PUBLIC=certs.template/jwt-public.pem
