API__DB__URL=postgresql+asyncpg://postgres_user:postgres_password@localhost:5430/postgres_db
API__DB__ECHO=True

API__JWT__PRIVATE=certs.template/jwt-private.pem
API__JWT__PUBLIC=certs.template/jwt-public.pem

API__MINIO__ENDPOINT_URL= http://localhost:9000
API__MINIO__ACCESS_KEY=minioadmin
API__MINIO__SECRET_KEY=minioadmin
API__MINIO__BUCKET_NAME=logos

API__HTTPCORS__URLS=["http://localhost:5173"]

API__RUN__MODE=production